.center{
    text-align: center;
}
.flex-center{
    display: flex;
    align-items: center;
}
.grid-center{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
}

/* Mid Section */
#mid-container{
    width: 77%;
    margin: auto;
    margin-top: 10px;
}
#mid-container-top-banner, #mid-camping-gear{
    width: 100%;
}
#mid-container-top-banner img , #mid-container-four-banners img, #mid-shop-by-activity-images img, #mid-men-women-kid-images img, #mid-camping-gear-catetgory-images img, #mid-camping-gear img, #mid-more-to-explore-images img, #mid-footwear-images img, #mid-instagram-banner img, #mid-instagram-images img, #mid-brands-images img{
    width: 100%;
    object-fit: cover;
}
#mid-container-four-banners{
    width: 100%;
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
#mid-container-four-banners img{
    height: 260px;
}
#mid-shop-by-activity-heading h1, #mid-more-to-explore-heading h1, #mid-footwear-heading h1, #mid-instagram-heading h1, #mid-brands-heading h1{
    font-weight: 500;
    letter-spacing: 0.01em;
    margin-top: 70px;
}
#mid-men-women-kid-images, #mid-camping-gear-catetgory-images{
    margin-top: 25px;
    gap: 15px;
}
#mid-camping-gear, #mid-instagram-banner, #mid-instagram-brands{
    margin-top: 40px;
}
#mid-more-to-explore-images, #mid-footwear-images, #mid-instagram-images{
    margin-top: 30px;
    display: grid;
    align-items: center;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
}
#mid-brands-images{
    width: 75%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    display: grid;
    align-items: center;
    gap: 15px;
    grid-template-columns: repeat(5,1fr);
}   